body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #2B2B2B;
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background: url('./img/outstretchedhands.jpg') rgba(0, 0, 0, 0.438);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
  height: 375px;
  width: 100%;
}

#lgbtq {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(254,131,0,1) 14.29%, rgba(255,248,0,1) 28.57%, rgba(74,244,65,1) 42.86%, rgba(86,240,249,1) 57.14%, rgba(0,134,255,1) 71.43%, rgba(94,40,255,1) 85.71%, rgba(255,0,249,1) 100%);
  width: 100%;
  height: 20px;
}

// #headerimg {
//   position: absolute;
//   left: 0%;
//   width: 80%;
//   height: auto;
// }

#header-h1 {
  margin: 28vh 0vw 1vh 0vw;
  font-size: 7vh;
  color: white;
}

#header-h2 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 5vh;
  color: white;
}

h2 {
  margin: 4vh 0vw 0vh 0vw;
  font-size: 5vh;
  color: white;
}

h3 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 2vw;
  color: rgb(0, 110, 219);
}

h4 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 3vh;
  color: #1E90FF;
  color: #BA24FF;
}

h5 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 2vh;
  color: #50a8ff;
  color: #FF4DE4;
}

p {
  margin: 0px;
}

main {
  background: linear-gradient(90deg, rgba(98,98,98,1) 0%, rgba(65,65,65,1) 6%, rgba(91,91,91,1) 13%, rgba(68,68,68,1) 21%, rgba(77,77,77,1) 27%, rgba(60,60,60,1) 34%, rgba(45,45,45,1) 42%, rgba(49,49,49,1) 54%, rgba(34,34,34,1) 66%, rgba(41,41,41,1) 75%, rgba(28,28,28,1) 83%, rgba(19,19,19,1) 91%, rgba(0,0,0,1) 100%);
}

#tech-edu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 7vh 0 0 0;
}

#techtools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 0 0 0 0vw;
  background-color: #0A0A0A;
  border-radius: 10%;
}

#techtools-content {
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

#col1, #col2, #col3 {
  margin: 0 1vw 0 0;
}

#education {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 0 0vw 0 0;
  background-color: #0A0A0A;
  border-radius: 10%;
}

#education-content {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 7vh 0vw 0vh 0vw;
}

#projects-h2 {
  display: flex;
  align-items: center;
  justify-content: center;;
  background-color: #0A0A0A;
  width: 12vw;
  height: 8vh;
  border-radius: 15%;
}

#projects-content {

}

.project-container {
  display: flex;
  flex-direction: row;
  margin: 3vh 0vw 8vh 0vw;
  // height: auto;
  justify-content: space-evenly;
}

div.project-desc > h3 {
  margin: 0vh 0vw 0vh 0vw;
}

.projects-img {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 5%;
}

.project-desc {
  width: 35%;
  height: auto;
  background-color: #0A0A0A;
  padding: 1vw;
  border-radius: 5%;
}

// #basicass-words {
//   width: 35%;
//   height: auto;
//   background-color: #0A0A0A;
//   padding: 1vw;
// }

// #bashful-words {
//   width: 35%;
//   height: auto;
//   background-color: #0A0A0A;
//   padding: 1vw;
// }

// #sanchez-words {
//   width: 35%;
//   height: auto;
//   background-color: #0A0A0A;
//   padding: 1vw;
// }

// #jabba-words {
//   width: 35%;
//   height: auto;
//   background-color: #0A0A0A;
//   padding: 1vw;
// }

#employment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 7vh 0 10vh 0;
}

#employment-h2 {
  display: flex;
  align-items: center;
  justify-content: center;;
  background-color: #0A0A0A;
  width: 28vw;
  height: 12vh;
  border-radius: 50%;
}

.jobs-container {

}

.jobs-desc {
  background-color:  #0A0A0A;
  margin: 5vh;
  border-radius: 5%;
  width: 30vw;
  height: auto;
  margin: 7vh 0 10vh 0;
  padding: 1vw;
}

.job-img {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 5%;
}

#lgbtq2 {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(254,131,0,1) 14.29%, rgba(255,248,0,1) 28.57%, rgba(74,244,65,1) 42.86%, rgba(86,240,249,1) 57.14%, rgba(0,134,255,1) 71.43%, rgba(94,40,255,1) 85.71%, rgba(255,0,249,1) 100%);
  width: 100%;
  height: 40px;
  margin: 0vh 0 0 0;
}