body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  margin: 0px;
  height: 375px;
  width: 100%;
  text-align: center;
  background: url('./img/lowhands4.jpg') rgba(0, 0, 0, 0.438);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// #headerimg {
//   position: absolute;
//   left: 0%;
//   width: 80%;
//   height: auto;
// }

#headerh1 {
  margin: 28vh 0vw 1vh 0vw;
  font-size: 7vh;
  color: white;
}

#headerh2 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 5vh;
  color: white;
}

h2 {
  margin: 10vh 2vw 1vh 0vw;
  font-size: 5vh;
  color: white;
}

h3 {
  margin: 3vh 2vw 1vh 0vw;
  font-size: 4vh;
  color: #1025A1;
}

h4 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 3vh;
  color: #233DFF;
}

h5 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 3vh;
  color: rgb(68, 90, 255);
}

p {
  margin: 0px;
}

#techtools{
  width: 100%;
}

#techtoolscontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
}

#projects {
  width: 100%;
  height: 300px;
}

#employment {
  width: 100%;
  height: 300px;
}

#education {
  width: 100%;
  height: 300px;
}