body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  margin: 0px;
  height: 375px;
  width: 100%;
  text-align: center;
  background: url('./img/outstretchedhands.jpg') rgba(0, 0, 0, 0.438);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#lgbtq {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(254,131,0,1) 14.29%, rgba(255,248,0,1) 28.57%, rgba(74,244,65,1) 42.86%, rgba(86,240,249,1) 57.14%, rgba(0,134,255,1) 71.43%, rgba(94,40,255,1) 85.71%, rgba(255,0,249,1) 100%);
  width: 100%;
  height: 20px;
}

// #headerimg {
//   position: absolute;
//   left: 0%;
//   width: 80%;
//   height: auto;
// }

#headerh1 {
  margin: 28vh 0vw 1vh 0vw;
  font-size: 7vh;
  color: white;
}

#headerh2 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 5vh;
  color: white;
}

h2 {
  margin: 6vh 2vw 1vh 0vw;
  font-size: 5vh;
  color: white;
}

h3 {
  margin: 3vh 2vw 1vh 0vw;
  font-size: 4vh;
  color: rgb(0, 110, 219);
}

h4 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 3vh;
  color: #1E90FF;
  color: rgb(150, 0, 219);
}

h5 {
  margin: 2vh 0vw 1vh 0vw;
  font-size: 3vh;
  color: #50a8ff;
  color: rgb(219, 0, 183);
}

p {
  margin: 0px;
}

#tech-edu {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#techtools {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 0 0 10vw;
}

#techtools-content {
  display: flex;
  flex-direction: row;
}

#education {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  margin: 0 10vw 0 0;
}

#education-content {
  // display: flex;
  // flex-direction: column;
  // width: 33%;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
}

.projects {
 width: 50vw;
}

#employment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
}